Repository Azure-Samples/Cognitive-Services-Voice-Assistant, pull requests merged in 2020-04, with the labels that each got.

#192 Updated WiFi instructions
  clients/cpp-console/GGECSpeaker.md
Labels: Devices Console Client (C++), documentation

#203 Fix for delete profile bug
  clients/csharp-wpf/VoiceAssistantClient/SettingsDialog.xaml.cs
Labels: Windows Voice Assistant Client (C# WPF), bug

#213 Selecting blank profile allows creation of new profile
  clients/csharp-wpf/VoiceAssistantClient/MainWindow.xaml.cs
  clients/csharp-wpf/VoiceAssistantClient/SettingsDialog.xaml.cs
Labels: Windows Voice Assistant Client (C# WPF), enhancement

#215 Textbox Scope loss
  clients/csharp-wpf/VoiceAssistantClient/SettingsDialog.xaml.cs
Labels: Windows Voice Assistant Client (C# WPF), bug

#217 Index was out of range for blank profile
  clients/csharp-wpf/VoiceAssistantClient/SettingsDialog.xaml.cs
Labels: Windows Voice Assistant Client (C# WPF), bug

#206 Add Change Log to UWPVoiceAssistantSample
  clients/csharp-uwp/UWPVoiceAssistantSample/Logging/DiagnosticTraceLogProvider.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Logging/ILogProvider.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Logging/LogRouter.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Logging/NLogProvider.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Logging/PassthroughLogProvider.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/config.json
Labels: UWP Voice Assistant (C# UWP), enhancement

#225 Fix for persistent values on discard changes
  clients/csharp-wpf/README.md
  clients/csharp-wpf/VoiceAssistantClient/MainWindow.xaml.cs
  clients/csharp-wpf/VoiceAssistantClient/SettingsDialog.xaml
  clients/csharp-wpf/VoiceAssistantClient/SettingsDialog.xaml.cs
Labels: Windows Voice Assistant Client (C# WPF), bug

#228 Discard unsaved profile
  clients/csharp-wpf/VoiceAssistantClient/SettingsDialog.xaml.cs
Labels: Windows Voice Assistant Client (C# WPF), bug

#232 Open and Edit Config
  clients/csharp-uwp/UWPVoiceAssistantSample/Glyphs.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/UWPVoiceAssistantSample.csproj
Labels: UWP Voice Assistant (C# UWP), enhancement

#240 Refactor UI
  clients/csharp-uwp/UWPVoiceAssistantSample/App.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Glyphs.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Logging/NLogProvider.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/UIAudioStatus.cs
Labels: UWP Voice Assistant (C# UWP), enhancement

#253 ChatWindow and Hypothesized Speech
  clients/csharp-uwp/UWPVoiceAssistantSample/App.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/AudioInput/AgentAudioInputProvider.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Conversation.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/LocalSettingsHelper.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Package.appxmanifest
  clients/csharp-uwp/UWPVoiceAssistantSample/UWPVoiceAssistantSample.csproj
Labels: UWP Voice Assistant (C# UWP), enhancement

#257 Update view when all panes are closed and Chat History Download
  clients/csharp-uwp/UWPVoiceAssistantSample/App.xaml
  clients/csharp-uwp/UWPVoiceAssistantSample/AudioOutput/DialogAudioOutputStream.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Conversation.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Package.appxmanifest
  clients/csharp-uwp/UWPVoiceAssistantSample/UIAudioStatus.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/UWPVoiceAssistantSample.csproj
Labels: UWP Voice Assistant (C# UWP), enhancement

#278 Add padding to UI
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
Labels: UWP Voice Assistant (C# UWP), bug

#283 AudioStatus and Log Window UI Update
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
Labels: UWP Voice Assistant (C# UWP), bug, enhancement

#286 Specify KWS file path in config.json
  clients/csharp-uwp/UWPVoiceAssistantSample/App.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/AppSettings.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/DialogManager.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/KeywordRegistration.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/LocalSettingsHelper.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/UIAudioStatus.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/UWPVoiceAssistantSample.csproj
  clients/csharp-uwp/UWPVoiceAssistantSample/config.json
  clients/csharp-uwp/UWPVoiceAssistantSampleTests/KeywordRegistrationTests.cs
  clients/csharp-uwp/UWPVoiceAssistantSampleTests/UnitTestApp.xaml.cs
Labels: UWP Voice Assistant (C# UWP), enhancement
