Repository Azure-Samples/Cognitive-Services-Voice-Assistant, pull requests merged in 2020-05, with the labels that each got.

#293 Copy Config from Appx to LocalStateFolder
  clients/csharp-uwp/UWPVoiceAssistantSample/App.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/AppSettings.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/IKeywordRegistration.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/KeywordRegistration.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/LocalSettingsHelper.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/MVAKeywords/computer_en.bin
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/UWPVoiceAssistantSample.csproj
  clients/csharp-uwp/UWPVoiceAssistantSample/config.json
  clients/csharp-uwp/UWPVoiceAssistantSampleTests/KeywordRegistrationTests.cs
  clients/csharp-uwp/UWPVoiceAssistantSampleTests/Mocks/MockKeywordRegistration.cs
  clients/csharp-uwp/UWPVoiceAssistantSampleTests/UnitTestApp.xaml.cs
  keyword-models/Contoso.bin
  keyword-models/computer.bin
  keyword-models/computer.txt
Labels: UWP Voice Assistant (C# UWP), enhancement

#318 Removed duplicate issue
  clients/cpp-console/docs/RaspberryPi.md
Labels: Devices Console Client (C++), documentation

#354 Remove bin files from keyword-models folder
  keyword-models/Contoso.bin
  keyword-models/computer.bin
Labels: UWP Voice Assistant (C# UWP)

#366 Add VA link to CC sample instructions
  docs/CreateSampleVoiceAssistant.md
Labels: documentation

#234 Add deep dive into sample app
  clients/csharp-uwp/README.md
  clients/csharp-uwp/docs/faq.md
  clients/csharp-uwp/docs/sample-app-walkthough/sample-app-overview.md
  clients/csharp-uwp/docs/sample-app-walkthough/step1-setup.md
  clients/csharp-uwp/docs/sample-app-walkthough/step2-keyword-verification.md
  clients/csharp-uwp/docs/sample-app-walkthough/step3-turn-logic.md
Labels: UWP Voice Assistant (C# UWP), documentation

#400 Update docs and code to allow RPi to work.
  clients/cpp-console/configs/mic4Config.json
  clients/cpp-console/configs/micConfig.json
  clients/cpp-console/docs/RaspberryPi.md
  clients/cpp-console/scripts/buildArm32Linux.sh
  clients/cpp-console/scripts/buildArm32LinuxWithMAS.sh
  clients/cpp-console/scripts/linux/buildArm32Linux.sh
  clients/cpp-console/scripts/linux/buildArm32LinuxWithMAS.sh
  clients/cpp-console/scripts/linux/installService.sh
Labels: Devices Console Client (C++), bug, documentation

#401 Update RaspberryPi.md
  clients/cpp-console/docs/RaspberryPi.md
Labels: Devices Console Client (C++), documentation

#403 Clarify what is supported on RPi
  clients/cpp-console/docs/RaspberryPi.md
Labels: Devices Console Client (C++), documentation

#410 Correct region link
  clients/README.md
Labels: documentation

#406 Unifiy Configuration Schemas across Clients
  clients/cpp-console/configs/config.json
  clients/cpp-console/include/AgentConfiguration.h
  clients/cpp-console/src/common/AgentConfiguration.cpp
  clients/cpp-console/src/common/DialogManager.cpp
  clients/cpp-console/src/common/Main.cpp
  clients/csharp-dotnet-core/voice-assistant-test/README.md
  clients/csharp-dotnet-core/voice-assistant-test/docs/GETTING-STARTED-GUIDE.md
  clients/csharp-dotnet-core/voice-assistant-test/docs/json-templates/app-config-template.json
  clients/csharp-dotnet-core/voice-assistant-test/tool/AppSettings.cs
  clients/csharp-dotnet-core/voice-assistant-test/tool/BotConnector.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Assets/config.json
  clients/csharp-uwp/UWPVoiceAssistantSample/Assets/defaultConfig.json
  clients/csharp-uwp/UWPVoiceAssistantSample/DirectLineSpeechDialogBackend.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/KeywordRegistration.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Settings/AppSettings.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Settings/LocalSettingsHelper.cs
Labels: Devices Console Client (C++), UWP Voice Assistant (C# UWP), Voice Assistant Test Tool (C# .NET Core), enhancement

#418 Add kws performance feature to UWP VA sample
  clients/csharp-uwp/README.md
  clients/csharp-uwp/UWPVoiceAssistantSample/AgentSessionManager.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/AgentSessionWrapper.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/App.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/DialogManager.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/DirectLineSpeechDialogBackend.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/IAgentSessionWrapper.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/KeywordRegistration.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/KwsPerformance/KeywordDetectionParams.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/KwsPerformance/KwsPerformanceLogger.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/MainPage.xaml.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Settings/AppSettings.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/Settings/LocalSettingsHelper.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/SignalDetectionHelper.cs
  clients/csharp-uwp/UWPVoiceAssistantSample/UWPVoiceAssistantSample.csproj
  clients/csharp-uwp/UWPVoiceAssistantSampleTests/Mocks/MockAgentSessionWrapper.cs
  clients/csharp-uwp/UWPVoiceAssistantSampleTests/UWPVoiceAssistantSampleTests.csproj
Labels: UWP Voice Assistant (C# UWP), enhancement
